**/.idea
**/*.iml

**/.settings
**/.buildpath
**/.classpath
**/.project

**/nbproject
**/nbactions.xml
**/nb-configuration.xml

**/bin
**/target
**/tmp

**/*.log*
**/*.lck*
**/*.lock*

#**/media/**/*.jpeg
#**/media/**/*.jpg
#**/media/**/*.tiff
#**/media/**/*.tif
#**/media/**/*.png
#**/media/**/*.gif
#**/media/**/*.bmp
#**/media/**/*.tga
#**/media/**/*.psd
#**/media/**/*.dng

**/*.cache
**/.DS_Store

**/*[._-]private.*
**/*[._-]local.*
